<connectionStrings>
  
  <add name="DefaultConnection" connectionString="Data Source=webappjkp.database.windows.net;Initial Catalog=BlackjackDB;Integrated Security=false;user id=adminuser;password=gRANDc1rcus;" providerName="System.Data.SqlClient" />
  
  <add name="BlackjackDBEntities" connectionString="metadata=res://*/Models.BlackjackDB.csdl|res://*/Models.BlackjackDB.ssdl|res://*/Models.BlackjackDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=webappjkp.database.windows.net;initial catalog=BlackjackDB;user id=adminuser;password=gRANDc1rcus;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>