@{
    ViewBag.Title = "StubHubSearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StubHubSearchResult</h2>

<table>
    @foreach (var element in ViewBag.Message)
    {
        <tr><td>@element["name"]</td></tr>
    }


</table>